.shot-page-container[data-v-0764b874] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.loading-container[data-v-0764b874] {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 80px 0
}

.content-block-container[data-v-0764b874] {
  display: flex;
  width: 100%;
  margin: 16px 0
}

@media (min-width: 768px) {
  .content-block-container[data-v-0764b874]:first-child {
    margin-top: 28px
  }
}

@media (min-width: 768px) {
  .content-block-container.shot-only[data-v-0764b874] {
    width: 100%;
    margin: 28px 0
  }
}

.content-block-container.full-width[data-v-0764b874] {
  overflow: hidden
}

@media (max-width: 767px) {
  .content-block-container.full-width[data-v-0764b874] {
    width: calc(100% + 32px)
  }

  .content-block-container.full-width[data-v-0764b874] img,
  .content-block-container.full-width[data-v-0764b874] video,
  .content-block-container.full-width[data-v-0764b874] .v-video,
  .content-block-container.full-width[data-v-0764b874] .base-carousel {
    border-radius: 0px;
  }

  .content-block-container.full-width[data-v-0764b874] .thumbnails-container img {
    border-radius: 8px;
  }
}

@media (min-width: 768px) {
  .content-block-container[data-v-0764b874] {
    max-width: 752px;
    margin: 36px 0;
  }

  .content-block-container.full-width[data-v-0764b874] {
    width: 100%;
    max-width: 1024px;
  }
}

.content-block[data-v-0764b874],
[data-v-0764b874] .content-block {
  width: 100%;
}

.content-block.prevent-full-width[data-v-0764b874],
[data-v-0764b874] .content-block.prevent-full-width {
  max-width: 752px;
}

@media (min-width: 768px) {
  [data-v-0764b874] .skeleton-container {
    border-radius: 8px;
  }
}

.block-media-wrapper[data-v-71abd4c2] {
  display: flex;
  width: 100%;
}

.block-media[data-v-71abd4c2] {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.block-media.contain[data-v-71abd4c2] {
  margin: auto;
}

.block-media.contain.auto-width[data-v-71abd4c2] {
  width: auto;
}

.block-media.contain.auto-height[data-v-71abd4c2] {
  height: auto;
}

.block-media>*[data-v-71abd4c2],
.block-media[data-v-71abd4c2] img,
.block-media[data-v-71abd4c2] video {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  object-fit: var(--object-fit)
}

.block-media .video-container[data-v-71abd4c2] {
  display: flex;
  width: 100%;
  height: 100%;
}

.block-media .skeleton-wrapper[data-v-71abd4c2] {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-media.is-lazy[data-v-71abd4c2] img,
.block-media.is-lazy .video-container[data-v-71abd4c2] {
  opacity: 0.001;
  background-color: #f3f3f4;
}

.block-media.is-lazy[data-v-71abd4c2] img.lazyloaded,
.block-media.is-lazy .video-container.is-loaded[data-v-71abd4c2] {
  transition: 0.3s ease-in-out;
  opacity: 1;
  background-color: transparent
}

.img-skeleton-wrapper[data-v-6751b68c] {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-skeleton-wrapper img[data-v-6751b68c],
.img-skeleton-wrapper video[data-v-6751b68c],
.img-skeleton-wrapper[data-v-6751b68c] img,
.img-skeleton-wrapper[data-v-6751b68c] video {
  opacity: 0
}

.img-skeleton-wrapper.loaded img[data-v-6751b68c],
.img-skeleton-wrapper.loaded video[data-v-6751b68c],
.img-skeleton-wrapper.loaded[data-v-6751b68c] img,
.img-skeleton-wrapper.loaded[data-v-6751b68c] video {
  opacity: 1
}

.skeleton-container[data-v-6751b68c] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 1;
  pointer-events: none;
}

.loaded>.skeleton-container[data-v-6751b68c] {
  opacity: 0;
}

.skeleton-template[data-v-6751b68c] {
  z-index: 1;
  background: #e7e7e9
}

.skeleton-template.animate-translate[data-v-6751b68c] {
  overflow: hidden;
}

.skeleton-template.animate-translate[data-v-6751b68c]:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  animation: skeleton-translate-data-v-6751b68c 2s infinite;
  background: linear-gradient(90deg, transparent, #fff, transparent)
}

@keyframes skeleton-translate-data-v-6751b68c {
  100% {
    transform: translateX(100%)
  }
}

.v-video[data-v-27edef16] {
  position: relative;
}

.v-video:hover .mute-toggle-wrapper[data-v-27edef16] {
  opacity: 1;
}

.mute-toggle-wrapper[data-v-27edef16] {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 20px;
  transition: opacity 200ms ease;
  opacity: 0;
}

.mute-toggle-wrapper.toggle-visible[data-v-27edef16] {
  opacity: 1;
}

.mute-toggle-wrapper .toggle-button[data-v-27edef16] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 8px 2px rgba(13, 12, 34, 0.05);
  color: #3d3d4e;
  cursor: pointer;
}

.video-progress-container[data-v-27edef16] {
  position: relative;
  width: 100%;
  height: 100%;
}

.progress-bar-container[data-v-27edef16] {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.progress-bar[data-v-27edef16] {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  transition: transform 0.2s linear;
  border-radius: 0 0 0px 6px;
  background: #feba57;
}


[data-v-0ffb479a] ul,
[data-v-0ffb479a] ol {
  padding-left: 26px;
}

[data-v-0ffb479a] ul p,
[data-v-0ffb479a] ol p {
  display: inline-block;
  vertical-align: top
}

@media (min-width: 768px) {

  [data-v-0ffb479a] ul,
  [data-v-0ffb479a] ol {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
}

[data-v-0ffb479a] ul {
  list-style-type: disc;
}

[data-v-0ffb479a] ol {
  list-style-type: decimal;
}

[data-v-0ffb479a] h1 {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

@media (min-width: 768px) {
  [data-v-0ffb479a] h1 {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
}

[data-v-0ffb479a] h2 {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}

@media (min-width: 768px) {
  [data-v-0ffb479a] h2 {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
}

[data-v-0ffb479a] p {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

@media (min-width: 768px) {
  [data-v-0ffb479a] p {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
}

[data-v-0ffb479a] h1+p,
[data-v-0ffb479a] h1+h2,
[data-v-0ffb479a] h1+ol,
[data-v-0ffb479a] h1+ul {
  margin-top: 16px;
}

[data-v-0ffb479a] h1:empty:after,
[data-v-0ffb479a] h2:empty:after,
[data-v-0ffb479a] p:empty:after {
  content: '\00A0';
}